@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
    font-family: "Raleway", sans-serif, "Noto Sans KR", sans-serif;
    color: #222;
    line-height: 1.5em;
    font-weight: 300;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    color: #222;
    text-decoration: none;
}

.tab-inner {
    height: 500px;
    /* border: 1px solid green; */
}

.tab-inner h1 {
    text-align: center;
    font-size: 36px;
    font-weight: normal;
}

input[name="tabmenu"] {
    display: none;
}

.tabs {
    /* border: 1px solid red; */
    width: 800px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.items {
    width: 2400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    text-align: center;
}

.items div {
    /* border: 1px solid blue; */
    width: 800px;
    height: 400px;
    float: left;
    box-sizing: border-box;
    padding: 50px;
}

.btn {
    text-align: center;
    padding-top: 5px;
}

.btn label {
    width: 15px;
    height: 15px;
    background-color: lightgray;
    /* border-radius: 50%; */
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}

.items div img {
    width: 100px;
    border-radius: 50%;
}
.items div p b {
    display: block;
}
.items div p span {
    color: orange;
}

input[id="tab1"]:checked ~ .tabs .items {
    left: 0;
}

input[id="tab2"]:checked ~ .tabs .items {
    left: -800px;
}

input[id="tab3"]:checked ~ .tabs .items {
    left: -1600px;
}

input[id="tab1"]:checked ~ .btn label[for="tab1"],
input[id="tab2"]:checked ~ .btn label[for="tab2"],
input[id="tab3"]:checked ~ .btn label[for="tab3"] {
    border-radius: 50%;
    background-color: crimson;
    transition: 0.5s;
}
